@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body, #root {
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: #242424;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  display: flex;
  justify-content: center;
}

#title {
  font-family: Lobster;
  font-size: 48px;
  color: rgb(250, 214, 214);
}

#reset-button {
  border: none;
  margin-top: 5rem;
  font-size: 40px;
  border-radius: 16px;
  padding: 10px;
}

main {
  border: 1px solid black;
  max-height: 500px;
  max-width: 1000px;
  display: flex;
  justify-content: flex-start;
  flex-flow: row wrap;
}

.square {
  width: 20px;
  height: 20px;
  border: 1px solid black;
  background-color: rgb(250, 214, 214);
  margin: 0;
  outline: none;
  padding: 0;
}